@namespace UserManagement.UI.Components
@using UserManagement.UI.Dtos
@using UserManagement.UI.Exceptions
@using UserManagement.UI.Services
@* With these Form Components - I considered having one parent component e.g. general form, and then
these forms apply that -> But I felt the extraarchitecture was a bit unncessary for this particular use case. *@
@if (IsVisible)
{
    <div class="modal show d-block" style="background-color: rgba(0,0,0,0.5);">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create User</h5>
                    <button type="button" class="btn-close" @onclick="Close"></button>
                </div>
                <div class="modal-body">
                    <EditForm Model="NewUser" OnValidSubmit="SaveChanges">
                        <DataAnnotationsValidator />
                        <ValidationSummary />
                        @if (!string.IsNullOrEmpty(ErrorMessage))
                        {
                            <div class="alert alert-danger">@ErrorMessage</div>
                        }

                        <div class="mb-3">
                            <label class="form-label">Forename</label>
                            <InputText class="form-control" @bind-Value="NewUser.Forename" />
                            <ValidationMessage For="@(() => NewUser.Forename)" />
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Surname</label>
                            <InputText class="form-control" @bind-Value="NewUser.Surname" />
                            <ValidationMessage For="@(() => NewUser.Surname)" />
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <InputText class="form-control" @bind-Value="NewUser.Email" />
                            <ValidationMessage For="@(() => NewUser.Email)" />
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Role</label>
                            <select class="form-select" @bind="NewUser.Role">
                                <option value="0">User</option>
                                <option value="1">Admin</option>
                            </select>
                        </div>

                        <div class="form-check mb-3">
                            <InputCheckbox class="form-check-input" @bind-Value="NewUser.IsActive" />
                            <label class="form-check-label" for="isActive">Active</label>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Birth Date</label>
                            <InputDate class="form-control" @bind-Value="NewUser.BirthDate"
                                min="@MinBirthDate.ToString("yyyy-MM-dd")" max="@MaxBirthDate.ToString("yyyy-MM-dd")" />
                            <ValidationMessage For="@(() => NewUser.BirthDate)" />
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary disabled=" @IsCreating"">Create</button>
                            <button type="button" class="btn btn-secondary" @onclick="Close">Cancel</button>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public bool IsVisible { get; set; }
    [Parameter] public EventCallback OnClose { get; set; }
    [Parameter] public EventCallback<UserDto> OnCreated { get; set; }

    [Inject] public IUserApiService UserService { get; set; } = default!;
    private DateTime MinBirthDate => DateTime.Today.AddYears(-120);
    private DateTime MaxBirthDate => DateTime.Today.AddYears(-18);
    private string ErrorMessage = "";
    private UserCreateDto NewUser = new();

    //Same as with Delete button - need to prevent button from being pressed again while craeting user.
    private bool IsCreating = false;

    private async Task SaveChanges()
    {
        if (IsCreating) return;
        IsCreating = true;
        ErrorMessage = "";

        try
        {
            var createdUser = await UserService.CreateUserAsync(NewUser);

            if (OnCreated.HasDelegate)
                await OnCreated.InvokeAsync(createdUser);

            await Close();
        }
        catch (UserApiException ex)
        {
            if (ex.StatusCode == 400)
                ErrorMessage = "Invalid input. Please check your details.";
            else if (ex.StatusCode == 409)
                ErrorMessage = "A user with this email already exists.";
            else
                ErrorMessage = "Unexpected server error. Please try again later.";
        }
        catch (Exception)
        {
            ErrorMessage = "Network or internal error. Please try again.";
        }
        finally
        {
            IsCreating = false;
        }
    }
    private async Task Close()
    {
        ErrorMessage = "";
        NewUser = new UserCreateDto();
        await OnClose.InvokeAsync();
    }
}