@page "/audits"
@using UserManagement.UI.Dtos
@using UserManagement.UI.Exceptions
@using UserManagement.UI.Services
@using UserManagement.UI.Components

@inject IUserAuditApiService UserAuditService

<h3>User History</h3>
<UserAuditSearchBar SearchTerm="@AuditSearchTerm" SearchTermChanged="@((val) => AuditSearchTerm = val)"
    SelectedAuditAction="@SelectedAuditAction" SelectedAuditActionChanged="@((val) => SelectedAuditAction = val)"
    OnSearch="HandleAuditSearchChanged" />
@switch (CurrentState)
{
    case AuditListState.Loading:
        <p>Loading audits...</p>
        break;
    case AuditListState.Error:
        <div class="alert alert-danger">@LoadErrorMessage</div>
        break;
    case AuditListState.Empty:
        <p>No audits found.</p>

        break;
    case AuditListState.Data:
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Audit Id</th>
                    <th>Affected User Id</th>
                    <th>Affected User Forename</th>
                    <th>Affected User Surname</th>
                    <th>Affected User Email</th>
                    <th>Logged At</th>
                    <th>User Action</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var audit in Audits!)
                {
                    <UserAuditRow AuditDto="audit" OnViewAudit="ShowAuditModal" />
                }
            </tbody>
        </table>

        <Paginator CurrentPage="CurrentPage" TotalPages="TotalPages" OnPageChanged="HandlePageChanged" />

        @if (ShowAuditView)
        {
            <ViewAuditForm Audit="SelectedAuditDto" OnCloseAudit="CloseAuditModal" />
        }

        break;
}



@code {
    private enum AuditListState { Loading, Error, Empty, Data }
    private AuditListState CurrentState = AuditListState.Loading;
    private List<UserAuditDto> Audits = new();
    private UserAuditDto? SelectedAuditDto;
    private bool ShowAuditView = false;
    private string? LoadErrorMessage;
    private string? AuditSearchTerm;
    private string? SelectedAuditAction;
    private int CurrentPage = 1;
    private readonly int PageSize = 10;
    private int TotalPages => TotalCount > 0
    ? (int)Math.Ceiling((double)TotalCount / PageSize)
    : 1;
    private int TotalCount = 0;


    protected override async Task OnInitializedAsync()
    {
        await LoadAudits();
    }

    private async Task LoadAudits()
    {
        CurrentState = AuditListState.Loading;
        LoadErrorMessage = null;

        try
        {
            var result = await UserAuditService.GetAuditsByQueryAsync(
            searchTerm: AuditSearchTerm,
            action: SelectedAuditAction,
            page: CurrentPage,
            pageSize: PageSize
            );

            Audits = result.Items.ToList();
            TotalCount = result.TotalCount;
            CurrentState = result.TotalCount > 0
            ? AuditListState.Data
            : AuditListState.Empty;
        }
        catch (UserApiException ex)
        {
            LoadErrorMessage = ex.Message;

            Console.Error.WriteLine($"API Error: {ex.Message}");
            if (ex.InnerException != null)
                Console.Error.WriteLine(ex.InnerException);
            Audits = new List<UserAuditDto>();
            TotalCount = 0;
            CurrentState = AuditListState.Error;

        }
        catch (Exception ex)
        {
            LoadErrorMessage = "Unexpected Internal Error when fetching users.";
            Console.Error.WriteLine($"Unexpected error: {ex.Message}");
            Console.Error.WriteLine(ex.StackTrace);
            Audits = new List<UserAuditDto>();
            TotalCount = 0;
            CurrentState = AuditListState.Error;

        }
    }

    private async Task HandlePageChanged(int newPage)
    {
        CurrentPage = newPage;
        await LoadAudits();
    }

    private async Task HandleAuditSearchChanged((string? searchTerm, string? action) args)
    {
        AuditSearchTerm = args.searchTerm ?? "";
        SelectedAuditAction = args.action;
        CurrentPage = 1;
        await LoadAudits();
    }

    private void ShowAuditModal(UserAuditDto auditDto)
    {
        SelectedAuditDto = auditDto;
        ShowAuditView = true;
    }

    private void CloseAuditModal()
    {
        ShowAuditView = false;
        SelectedAuditDto = null;

    }

}