@page "/"

<PageTitle>UMS List Users</PageTitle>

@using UserManagement.UI.Dtos
@using UserManagement.UI.Services
@using UserManagement.UI.Components
@inject UserApiService UserService

@if (isLoading)
{
    <p><em>Loading...</em></p>
}
else if (users == null || !users.Any())
{
    <UserSearchBar SearchTerm="@searchTerm" SearchTermChanged="@((val) => searchTerm = val)"
        SelectedActiveOption="@selectedActiveOption" SelectedActiveOptionChanged="@((val) => selectedActiveOption = val)"
        OnSearch="HandleSearch" />
    <button class="btn btn-sm btn-success mb-3" @onclick="ShowCreateUserModal">Add User</button>

    <p>No users found.</p>
}
else
{
    <UserSearchBar SearchTerm="@searchTerm" SearchTermChanged="@((val) => searchTerm = val)"
        SelectedActiveOption="@selectedActiveOption" SelectedActiveOptionChanged="@((val) => selectedActiveOption = val)"
        OnSearch="HandleSearch" />
    <button class="btn btn-sm btn-success mb-3" @onclick="ShowCreateUserModal">Add User</button>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Forename</th>
                <th>Surname</th>
                <th>Email</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                <UserRow User="user" OnView="ShowUserViewModal" OnDelete="ShowUserDeleteModal" OnEdit="ShowUserEditModal" />
            }
        </tbody>
    </table>
}

<ViewUserForm IsVisible="isViewUserFormVisible" User="selectedViewUser" OnClose="CloseViewModal" />
<DeleteUserForm IsVisible="isDeleteUserFormVisible" User="selectedDeleteUser" OnClose="CloseDeleteModal"
    OnDeleted="HandleUserDeleted" />
<EditUserForm IsVisible="isEditUserFormVisible" User="selectedEditUser" OnClose="CloseEditModal"
    OnUpdated="HandleUserUpdated" />
<CreateUserForm IsVisible="isCreateUserFormVisible" OnClose="CloseCreateUserModal" OnCreated="HandleUserCreated" />

@code {
    private List<UserDto>? users;

    private bool isLoading = true;

    private bool isViewUserFormVisible;
    private bool isDeleteUserFormVisible;
    private bool isEditUserFormVisible;
    private bool isCreateUserFormVisible;

    private UserDto? selectedViewUser;
    private UserDto? selectedDeleteUser;
    private UserDto? selectedEditUser;

    //Search and pagination
    private string searchTerm = "";
    private string selectedActiveOption = "";
    private int currentPage = 1;
    private int totalCount = 0;
    private string sortBy = "id";
    private bool sortDescending = false;

    protected override async Task OnInitializedAsync()
    {
        await LoadUsers();
    }

    private async Task LoadUsers()
    {
        isLoading = true;
        var result = await UserService.GetUsersByQueryAsync(page: currentPage, pageSize: 10);
        users = result.Users;
        totalCount = result.TotalCount;
        isLoading = false;
    }

    private async Task HandleSearch((string? searchTerm, bool? isActive) args)
    {
        searchTerm = args.searchTerm ?? "";
        selectedActiveOption = args.isActive switch
        {
            true => "true",
            false => "false",
            null => ""
        };

        var result = await UserService.GetUsersByQueryAsync(
        searchTerm: searchTerm,
        isActive: args.isActive,
        page: currentPage,
        pageSize: 10,
        sortBy: sortBy,
        sortDescending: sortDescending
        );

        users = result.Users;
        totalCount = result.TotalCount;
    }
    private void ShowUserViewModal(UserDto user)
    {
        selectedViewUser = user;
        isViewUserFormVisible = true;
    }

    private void CloseViewModal()
    {
        isViewUserFormVisible = false;
        selectedViewUser = null;
    }

    private void ShowUserDeleteModal(UserDto user)
    {
        selectedDeleteUser = user;
        isDeleteUserFormVisible = true;
    }

    private void CloseDeleteModal()
    {
        isDeleteUserFormVisible = false;
        selectedDeleteUser = null;
    }

    private void HandleUserDeleted(UserDto deleted)
    {
        users!.RemoveAll(u => u.Id == deleted.Id);
        CloseDeleteModal();
    }

    private void ShowUserEditModal(UserDto user)
    {
        selectedEditUser = user;
        isEditUserFormVisible = true;
    }

    private void CloseEditModal()
    {
        isEditUserFormVisible = false;
        selectedEditUser = null;
    }

    private void HandleUserUpdated(UserDto updated)
    {
        var index = users!.FindIndex(u => u.Id == updated.Id);
        if (index >= 0) users[index] = updated;
        CloseEditModal();
    }

    private void ShowCreateUserModal()
    {
        isCreateUserFormVisible = true;
    }

    private void CloseCreateUserModal()
    {
        isCreateUserFormVisible = false;
    }

    private void HandleUserCreated(UserDto newUser)
    {
        users ??= new List<UserDto>();
        users.Add(newUser);
        CloseCreateUserModal();
    }
}