@page "/"

<PageTitle>UMS List Users</PageTitle>

@using System.Threading.Channels
@using System.ComponentModel
@using UserManagement.UI.Dtos
@using UserManagement.UI.Exceptions
@using UserManagement.UI.Services
@using UserManagement.UI.Components
@inject IUserApiService UserService
@inject IUserAuditApiService UserAuditApiService

<h3>User List</h3>
<UserSearchBar SearchTerm="@SearchTerm" SearchTermChanged="@((val) => SearchTerm = val)"
    SelectedActiveOption="@SelectedActiveOption" SelectedActiveOptionChanged="@((val) => SelectedActiveOption = val)"
    OnSearch="HandleSearch" />
<button class="btn btn-sm btn-success mb-3" @onclick="ShowCreateUserModal">Add User</button>
@switch (currentState)
{
    case UserListState.Loading:
        <p>Loading users...</p>
        break;
    case UserListState.Error:
        <div class="alert alert-danger">
            @loadErrorMessage
        </div>
        break;
    case UserListState.Empty:
        <p>No users found.</p>
        @switch (currentForm)
        {
            case VisibleForm.None:
                break;
            case VisibleForm.CreateUser:
                <CreateUserForm OnClose="CloseCreateUserModal" OnCreated="HandleUserCreated" />
                break;
        }

        break;
    case UserListState.Data:
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Forename</th>
                    <th>Surname</th>
                    <th>Email</th>
                    <th>Active</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in users!)
                {
                    <UserRow User="user" OnView="ShowUserViewModal" OnDelete="ShowUserDeleteModal" OnEdit="ShowUserEditModal"
                        OnUserAuditView="ShowViewUserAuditModal" />
                }
            </tbody>
        </table>
        <div class="d-flex justify-content-between align-items-center mt-3">
            <Paginator CurrentPage="CurrentPage" TotalPages="TotalPages" OnPageChanged="HandlePageChanged" />
            <UserListSorter SortField="@SortBy" Descending="@SortDescending" OnSortChanged="HandleSortChanged" />
        </div>
        @switch (currentForm)
        {
            case VisibleForm.None:
                break;
            case VisibleForm.ViewUser:
                <ViewUserForm User="SelectedViewUser" OnClose="CloseViewModal" />
                break;
            case VisibleForm.DeleteUser:
                <DeleteUserForm User="SelectedDeleteUser" OnClose="CloseDeleteModal" OnDeleted="HandleUserDeleted" />
                break;
            case VisibleForm.EditUser:
                <EditUserForm User="SelectedEditUser" OnClose="CloseEditModal" OnUpdated="HandleUserUpdated" />
                break;
            case VisibleForm.CreateUser:
                <CreateUserForm OnClose="CloseCreateUserModal" OnCreated="HandleUserCreated" />
                break;
            case VisibleForm.ViewUserHistory:
                <ViewUserHistoryForm User="SelectedViewUserAudit" Audits="audits" OnClose="CloseViewUserAuditModal"
                    ErrorMessage="@AuditLoadErrorMessage" CurrentPage="@AuditCurrentPage" TotalPages="@AuditTotalPages"
                    OnPageChanged="HandleAuditPageChanged" />
                break;
        }
        break;





}

@code {
    //State for how the List will be viewed
    private enum UserListState { Loading, Error, Empty, Data }
    private UserListState currentState = UserListState.Loading;
    private List<UserDto>? users;
    private List<UserAuditDto>? audits;
    //This is to handle the scenario where e.g. can't connect to DB - or some other issue.
    private string? loadErrorMessage;
    private string? AuditLoadErrorMessage;
    private enum VisibleForm
    {
        None,
        ViewUser,
        ViewUserHistory,
        EditUser,
        DeleteUser,
        CreateUser
    }

    private VisibleForm currentForm = VisibleForm.None;

    private UserDto? SelectedViewUser;
    private UserDto? SelectedViewUserAudit;
    private UserDto? SelectedDeleteUser;
    private UserDto? SelectedEditUser;

    //User Search and pagination
    private string SearchTerm = "";
    private string SelectedActiveOption = "";
    private int CurrentPage = 1;
    private int PageSize = 10;
    private int TotalPages => TotalCount > 0
    ? (int)Math.Ceiling((double)TotalCount / PageSize)
    : 1;
    private int TotalCount = 0;
    private string SortBy = "id";
    private bool SortDescending = false;

    //Decided it is better to have the pagination here -service calls from page, as opposed to
    //Pagination in Audit History Form - Service calls in there.
    //Audit Pagination
    private int AuditCurrentPage = 1;
    private int AuditPageSize = 5;
    private int AuditTotalPages = 1;
    private int AuditTotalCount = 0;

    //Modal / Form display methods

    private void ShowUserViewModal(UserDto user)
    {
        currentForm = VisibleForm.ViewUser;
        SelectedViewUser = user;
    }

    private void CloseViewModal()
    {
        currentForm = VisibleForm.None;
        SelectedViewUser = null;
    }

    private async Task ShowViewUserAuditModal(UserDto user)
    {
        SelectedViewUserAudit = user;
        AuditLoadErrorMessage = null;
        audits = new List<UserAuditDto>();
        AuditCurrentPage = 1;

        await LoadUserAudits(SelectedViewUserAudit.Id, AuditCurrentPage);
        currentForm = VisibleForm.ViewUserHistory;
    }
    private async Task LoadUserAudits(long userId, int auditCurrentPage)
    {
        try
        {
            var result = await UserAuditApiService.GetAuditsByUserAsync(userId, page: auditCurrentPage, pageSize: AuditPageSize);
            audits = result.Items;
            AuditTotalCount = result.TotalCount;
            AuditTotalPages = AuditTotalCount > 0
            ? (int)Math.Ceiling((double)AuditTotalCount / AuditPageSize)
            : 1;

            Console.WriteLine($"Loaded {audits.Count} audits (page {auditCurrentPage}/{AuditTotalPages}) for user {userId}");
        }
        catch (UserApiException ex)
        {
            AuditLoadErrorMessage = $"Failed to load audit history: {ex.Message}";
        }
        catch (Exception ex)
        {
            AuditLoadErrorMessage = $"Unexpected error loading audit history: {ex.Message}";
        }
    }

    private async Task HandleAuditPageChanged(int newPage)
    {
        if (SelectedViewUserAudit == null) return;
        AuditCurrentPage = newPage;
        await LoadUserAudits(SelectedViewUserAudit.Id, AuditCurrentPage);
    }
    private void CloseViewUserAuditModal()
    {
        currentForm = VisibleForm.None;
        SelectedViewUserAudit = null;
    }

    private void ShowUserDeleteModal(UserDto user)
    {
        currentForm = VisibleForm.DeleteUser;
        SelectedDeleteUser = user;
    }

    private void CloseDeleteModal()
    {
        currentForm = VisibleForm.None;
        SelectedDeleteUser = null;
    }

    private void ShowUserEditModal(UserDto user)
    {
        SelectedEditUser = user;
        currentForm = VisibleForm.EditUser;
    }

    private void CloseForm()
    {
        currentForm = VisibleForm.None;
    }

    private void CloseEditModal()
    {
        CloseForm();
        SelectedEditUser = null;
    }

    private void ShowCreateUserModal()
    {
        currentForm = VisibleForm.CreateUser;
    }

    private void CloseCreateUserModal()
    {
        currentForm = VisibleForm.None;
    }

    protected override async Task OnInitializedAsync()
    {
        await LoadUsers();
    }

    // SEARCH / PAGINATION / SORT GET METHODS
    //
    //
    private async Task HandleSearch((string? searchTerm, bool? isActive) args)
    {
        SearchTerm = args.searchTerm ?? "";
        SelectedActiveOption = args.isActive switch
        {
            true => "true",
            false => "false",
            null => ""
        };
        CurrentPage = 1; //reset to first page
        await LoadUsers();
    }

    private async Task HandlePageChanged(int newPage)
    {
        CurrentPage = newPage;
        await LoadUsers();
    }

    private async Task HandleSortChanged((string sortBy, bool sortDesc) args)
    {
        SortBy = args.sortBy;
        SortDescending = args.sortDesc;
        CurrentPage = 1;
        await LoadUsers();
    }

    private async Task LoadUsers()
    {
        currentState = UserListState.Loading;
        try
        {
            loadErrorMessage = null;

            var result = await UserService.GetUsersByQueryAsync(
            searchTerm: SearchTerm,
            isActive: GetIsActiveFilter(),
            page: CurrentPage,
            pageSize: PageSize,
            sortBy: SortBy,
            sortDescending: SortDescending
            );

            users = result.Users;
            TotalCount = result.TotalCount;
            currentState = TotalCount == 0 ? UserListState.Empty : UserListState.Data;
        }
        catch (UserApiException ex)
        {
            loadErrorMessage = ex.Message;

            Console.Error.WriteLine($"API Error: {ex.Message}");
            if (ex.InnerException != null)
                Console.Error.WriteLine(ex.InnerException);

            users = new List<UserDto>();
            TotalCount = 0;
            currentState = UserListState.Error;
        }
        catch (Exception ex)
        {
            loadErrorMessage = "Unexpected Internal Error when fetching users.";
            Console.Error.WriteLine($"Unexpected error: {ex.Message}");
            Console.Error.WriteLine(ex.StackTrace);

            users = new List<UserDto>();
            TotalCount = 0;
            currentState = UserListState.Error;
        }
    }

    private bool? GetIsActiveFilter()
    {
        return SelectedActiveOption switch
        {
            "true" => true,
            "false" => false,
            _ => null
        };
    }

    private async Task HandleUserDeleted(UserDto deleted)
    {
        // Check if we'll be empty BEFORE reload
        if (users?.Count == 1 && CurrentPage > 1)
        {
            CurrentPage--;
        }
        await LoadUsers();
        CloseDeleteModal();
    }


    private async Task HandleUserUpdated(UserDto updated)
    {
        await LoadUsers();
        CloseEditModal();
    }

    private async Task HandleUserCreated(UserDto newUser)
    {
        await LoadUsers();
        CloseCreateUserModal();
    }
}